.CxyIndex {
	width: 100vw;
	height: 100vh;
	background-color: #fef84f;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	img {
		width: 400px;
		height: 400px;
		margin-top: 10vh;
	}
	.button {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		bottom: 280px;
		width: 320px;
		border-radius: 16px;
		border: 4px #020005 solid;
		height: 64px;
		text-align: center;
		color: #020005;
		line-height: 64px;
		font-weight: bold;
	}
}
