.CxyHome {
	width: 100vw;
	height: 200vh;
	background-color: #fef84f;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	img {
		width: 200px;
		height: 200px;
		margin-top: 20vh;
	}
}
