.box {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #1e1e20;
	display: flex;
	flex-direction: column;
}

.phone {
	width: 375px;
	height: 667px;
	background-color: #fff;
	overflow: hidden;
	cursor: pointer;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 60px;
}
